/* style.css */

/* Set the canvas element to be the full size of the window */
canvas {
    width: 100%;
    height: 100%;
}

/* Center the canvas element on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}

svg {
    background-color: rgb(211, 235, 198);
}

text {
    fill: rgb(5, 29, 12);
}

text:hover {
    fill: rgb(222, 182, 147);
}

button {
    font-family: 'Quicksand', sans-serif;
}